/* =========================
   BROWSE PRODUCT CARD
========================= */

.browse-product-card{
    position: relative;

    padding: 20px;

    border-radius: 22px;

    overflow: hidden;

    background:
        linear-gradient(
            180deg,
            rgba(15,23,42,0.86),
            rgba(15,23,42,0.98)
        );

    border:
        1px solid rgba(255,255,255,0.05);

    transition: 0.35s ease;

    cursor: pointer;
}

/* hover */

.browse-product-card:hover{
    transform: translateY(-8px);

    border-color:
        rgba(59,130,246,0.18);

    box-shadow:
        0 20px 40px rgba(0,0,0,0.24);
}

/* wishlist */

.wishlist-btn{
    position: absolute;

    top: 16px;
    right: 16px;

    width: 38px;
    height: 38px;

    border-radius: 12px;

    border:
        1px solid rgba(255,255,255,0.06);

    background:
        rgba(2,6,23,0.72);

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    cursor: pointer;

    z-index: 2;
}

/* image */

.browse-product-image{
    width: 100%;

    height: 240px;

    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 22px;
}

.browse-product-image img{
    width: 100%;

    height: 100%;

    object-fit: contain;

    transition: 0.35s ease;
}

.browse-product-card:hover
.browse-product-image img{
    transform: scale(1.05);
}

/* content */

.browse-product-content span{
    color: #3b82f6;

    font-size: 13px;
    font-weight: 700;

    text-transform: uppercase;
}

.browse-product-content h3{
    color: white;

    font-size: 20px;
    font-weight: 600;

    line-height: 1.5;

    margin-top: 10px;

    min-height: 62px;
}

/* bottom */

.browse-product-bottom{
    margin-top: 22px;

    display: flex;

    align-items: center;

    justify-content: space-between;
}

.browse-product-bottom h4{
    color: white;

    font-size: 28px;
    font-weight: 800;
}

/* rating */

.rating{
    display: flex;

    align-items: center;

    gap: 6px;
}

.rating p{
    color: #facc15;

    font-size: 15px;
    font-weight: 600;
}